<footer class="footer wrapper">
	<nav class="nav">
			<span class="text">{{ with .Site.Copyright }} {{ . }} &nbsp;&nbsp;|&nbsp; {{ end }}</span>
			{{- range $index, $key := .Site.Params.Social -}}
				&nbsp;<a href="{{ $key.url }}" title="{{ $key.name }}">
				<i data-feather="{{ $key.icon }}"></i>
				</a>
				{{- end -}}
	</nav>
</footer>

{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
