<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<!-- the "header" and "head" partials have their filenames swapped in the theme, but their content is correct -->
{{ partial "header.html" . }} 
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<section class="recent-posts section">
			<h2 class="section-title">Recent posts</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				{{ template "partials/list-element.html" . }}
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</section>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
